body {
    background-color:
        var(--primary-backgound-color);
        color: var(--primery-text-color);
       font-family: var(--font-family-main);
 
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: 380px) {
        width: 380px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }
}

.section-title {
    margin-bottom: 30px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 50px;
    }

     color: var(--title-text-color);
    // @include fonts(900, 36px, 1.22, 0.03em);
    text-align: center;
         font-weight: 900;
         font-size: 36px;
         line-height: 1.22;
         letter-spacing: 0.03em;

}