<section class="about-us">
    <!-- Our History -->
  <article class="about-us-article">
    <h3 class="subtitle">Our history</h3>
    <p class="text">
    <h4>2009</h4>
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>

    <p class="text">
    <h4>2014</h4>
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>
  <p class="text">
    <h4>2020</h4>
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>
  </article>
  <!-- Our team -->
  <article class="about-us-article">
    <h3 class="subtitle">Our team</h3>
      <p class="text">
    <h4>Our team</h4>
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>
  <p class="text">
    <h4>Our technology</h4>
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>
 <p class="text">
    <h4>What do we make boats from?</h4>
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>
  </article>
  <!-- Our customers and friends -->
  <article class="about-us-article">
    <h3 class="subtitle">Our customers and friends</h3>
      <p class="text">
    
    <img class="about-us-img" 
    src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Quae animi nobis quasi totam velit, voluptatem labore inventore veritatis
 quo vitae maxime et similique error. Fugit amet error libero magnam culpa?</p>
  </article>
  
</section>
<div class="about-us-continer contaiher"></div>
