<section class="benefits">
  <div class="container">
    <h2 class="section-title visually-hidden">Benefits</h2>
    <article class="benifits-article">
      <p class="benifits-article__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, dolorum
        eaque accusamus, excepturi nemo voluptas aperiam cumque quo perspiciatis
        iusto adipisci fugit ipsa? Tenetur nostrum aspernatur temporibus fugit
        sequi id.
      </p>
      <button class="hero-button button" type="button">
        Our products<a href=""></a>
      </button>
      <picture>
        <source media="(min-width:1440px)" srcet="" type="image/jpg" />

        <img
          class="benifits-article__img"
          src="./images/1.img.jpg"
          alt="boat_on_water"
          width="370"
          height="294"
          loading="lazy"
      /></picture>
    </article>
  </div>
</section>
