<section class="benefits">
  <div class="container">
    <h2 class="section-title visually-hidden">Benefits</h2>
    <article class="benifits-article">
      <p class="benifits-article__text">
        Our company has been producing inflatable boats under the registered TM
        ΩMega and all the necessary components for over 20 years. During this
        time, we have managed to gain enough experience to satisfy the needs of
        both a fan of quiet fishing in closed waters and a supporter of extreme
        movement across water spaces. We are always ready to provide our
        customers with the widest selection of exceptionally high-quality
        products.
        <picture>
          <source media="(min-width:1280px)" srcet="" type="image/jpg" />

          <img
            class="benifits-article__img"
            src="./images/1.img.jpg"
            alt="boat_on_water"
            width="370"
            height="294"
            loading="lazy"
        /></picture>
        <span class="benifits-article__text__invisible"
          >Here you can buy inflatable boats that have proven themselves and are
          loved by many, as well as new items from our developments - boats of
          the Delta series and inflatable kayaks and kayaks. Always remembering
          our customers, we try to satisfy your wishes for a comfortable stay as
          much as possible. We constantly improve our knowledge and apply
          advanced technologies, producing high-quality inflatable boats at
          affordable prices. The result of our strict adherence to the highest
          quality standards is the ever-increasing demand for our products both
          on the territory of Ukraine and abroad. All ΩMega inflatable boats are
          manufactured by the Register of Shipping of Ukraine, certificate
          number SVP-412-3-14-19. Our boats are also certified by the European
          Union according to directive 94/25/EU and directive 2013/53/EU.</span
        >

        <button class="benifits-button button" type="button">
          Our products<a href=""></a>
        </button>
      </p>

      <!-- <picture>
        <source media="(min-width:1440px)" srcet="" type="image/jpg" />

        <img
          class="benifits-article__img"
          src="./images/1.img.jpg"
          alt="boat_on_water"
          width="370"
          height="294"
          loading="lazy"
      /></picture> -->
    </article>
  </div>
</section>
