<section class="contacts">
  <div class="contacts-container container">
    <h2 class="">Contacts</h2>
    <address class="adress">
      <ul class="contacts-list list">
        <li class="contacts-item">
          <a class="contacts--tel" href="tel:+380677500304"
            >+38 067 750 03 04</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-email" href="malito:office@omega-boat.com"
            >office@omega-boat.com</a
          >
        </li>
      </ul>
    </address>
    <h3 class="subtitle">Retail sale in Ukraine</h3>
    <ul>
      <li>
        <a class="contacts-email" href="https://lodki-omega.prom.ua/"
          >https://lodki-omega.prom.ua/</a
        >
        <br />
      </li>
      <li>
        <a class="contacts-email" href="https://shop.omega-boat.com/"
          >https://shop.omega-boat.com/</a
        >
        <br />
      </li>
      <li>
        <a class="contacts-email" href="https://olodki.com/g9181472-lodki-meg"
          >https://olodki.com</a
        >
      </li>
    </ul>
    <h3 class="subtitle">Our partners and representative offices</h3>
    <ul class="contact-card-list list">
      <li class="contact-card-item">
        <h4>Germany</h4>
        <img
          class="card-img"
          src="./images/logo-omega1.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <address class="card-adress">
          <ul class="contacts-list list">
            <li class="contacts-item">
              <a class="contacts--tel" href="tel:+4917663318433"
                >+4917663318433</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-email" href="malito:alexejzech@t-online.de"
                >alexejzech@t-online.de</a
              >
            </li>
          </ul>
        </address>
      </li>

      <li class="contact-card-item">
        <h4>Bulgaria</h4>
        <img
          class="card-img"
          src="./images/fm_logo.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <address class="card-adress">
          <ul class="contacts-list list">
            <li class="contacts-item">
              <a class="contacts--tel" href="tel:+359887699643"
                >+359887699643</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-email" href="malito:office@fishing-market.com"
                >office@fishing-market.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <!-- <li class="contact-card-item">
        <h4>Baltic countries</h4>
        <img
          class="card-img"
          src="./images/logo-omega1.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <address class="card-adress">
          <ul class="contacts-list list">
            <li class="contacts-item">
              <a class="contacts--tel" href="tel:+380677500304"
                >+38 067 750 03 04</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-email" href="malito:office@omega-boat.com"
                >office@omega-boat.com</a
              >
            </li>
          </ul>
        </address>
      </li> -->
      <li class="contact-card-item">
        <h4>France</h4>
        <img
          class="card-img"
          src="./images/gb_logo.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <address class="card-adress">
          <ul class="contacts-list list">
            <li class="contacts-item">
              <a class="contacts--tel" href="tel:+33683346664"
                >+33683346664</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-email" href="malito:gold-baits@orange.fr"
                >gold-baits@orange.fr</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contact-card-item">
        <h4>Poland</h4>
        <img
          class="card-img"
          src="./images/bremc_logo.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <address class="card-adress">
          <ul class="contacts-list list">
            <li class="contacts-item">
              <a class="contacts--tel" href="tel:+48796366798"
                >+48796366798</a
              >
            </li>
            <li class="contacts-item">
              <a class="contacts-email" href="malito:skleppontony@wp.pl"
                >skleppontony@wp.pl</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
  </div>
</section>
