<footer class="footer">
  <div class="footer-container container">
    <div class="footer-logo">
      <a class="logo" href="./index.html">
        <img
          class="img-logo"
          src="./images/logo-omega1.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
      /></a>
    </div>
    <address class="footer-adress">
      <p class="footer-adress__text">Our contacts</p>
      <a class="footer-adress__link link" href="mailto:omega-boat@ukr.net"
        >e-mail: omega-boat@ukr.net</a
      >
      <a class="footer-adress__link link" href="tel:+380677500304"
        >tel: +380677500304</a
      >
    </address>
    <a class="footer-blog" href=""
      >Blog
      <p>It's interesting</p>
    </a>
    <button class="footer-button button" type="button">Connect with us</button>
  </div>
</footer>
