<footer class="footer">
  <div class="footer-container container">
    <div class="footer-logo">
      <a class="logo" href="./index.html">
        <img
          class="img-logo"
          src="./images/omega logo_color.jpg"
          alt="logo"
          width="100"
          heigth="80"
          loading="lazy"
      /></a>
    </div>
    <address class="adress">
      <p class="adress-text"></p>
      <a class="adress-link" href="mailto:omega-boat@ukr.net"
        >omega-boat@ukr.net</a
      >
      <a class="adress-link" href="tel:+380505204515">+380505204515</a>
    </address>
    <a class="" href="">It's interesting</a>
    <button class="button" type="button">Connect with us</button>
  </div>
</footer>
