<header class="header">
    <div class="header-container">
        <nav class="header-nav">
            <div class="header-logo">
                <a class="logo" href="./index.html">
                    <img class="img-logo" 
                    src="./images/omega logo_color.jpg" 
                    alt="logo"
                    width="100"
                    heigth="80"
                    loading="lazy"
                    ></a>
            </div>
            <ul class="header-list list">
              <li class="header-item"> <a class="header-link" href="./index.html">Home
              </a>
              </li>
              <ul class="header-list list">
              <li class="header-item"> <a class="header-link" href="">Our products
              </a>
              </li>
              <ul class="header-list list">
              <li class="header-item"> <a class="header-link" href="">About us
              </a>
              </li><ul class="header-list list">
              <li class="header-item"> <a class="header-link" href="">Contact
              </a>
              </li>
            </ul>
        </nav>
    </div>
</header>