<header class="header">
  <div class="header-container container">
    <div class="header-logo">
      <a class="logo" href="./index.html">
        <img
          class="img-logo img"
          src="./images/logo-omega1.png"
          alt="logo"
          width="150"
          heigth="120"
          loading="lazy"
      /></a>
    </div>
    <nav class="header-nav">
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link header-link--current" href="./index.html"
            >Home
          </a>
        </li>
        <li class="header-item">
          <a class="header-link header-link--current" href="./our-products.html"
            >Our products
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="./about-us.html">About us </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="./contacts.html">Contact </a>
        </li>
      </ul>
    </nav>
    <button
      class="menu-button--open is-open js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="mobile-menu__icon"
        width="40"
        height="40"
        aria-label="Переключатель  меню"
      >
        <use
          class="mobile-menu__icon--menu"
          href="./images/sprite.svg#icon-menu_40px"
        ></use>
      </svg>
    </button>
  </div>
</header>
<!-- Мобильное меню -->
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button
    class="menu-button--close is-open js-close-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg
      class="mobile-menu__icon"
      width="40"
      height="40"
      aria-label="Переключатель меню"
    >
      <use
        class="mobile-menu__icon--close"
        href="./images/sprite.svg#icon-close_40px"
      ></use>
    </svg>
  </button>
  <ul class="mobile-menu__nav list">
    <li class="mobile-menu__nav--item">
      <a class="mobile-menu__nav--link nav__link--active" href="./index.html"
        >Home</a
      >
    </li>
    <li class="mobile-menu__nav--item">
      <a class="mobile-menu__nav--link" href="./our-products.html"
        >Our products</a
      >
    </li>
    <li class="mobile-menu__nav--item">
      <a class="mobile-menu__nav--link" href="./about-us.html">About us</a>
    </li>
    <li class="mobile-menu__nav--item">
      <a class="mobile-menu__nav--link" href="./contacts.html">Contact</a>
    </li>
  </ul>
  <ul class="mobile-menu__contacts list">
    <li class="mobile-menu__contacts--item">
      <a class="mobile-menu__contacts--tel" href="tel:+380677500304"
        >+38 067 750 03 04</a
      >
    </li>
    <li class="mobile-menu__contacts--item">
      <a
        class="mobile-menu__contacts--email"
        href="malito:office@omega-boat.com"
        >office@omega-boat.com</a
      >
    </li>
  </ul>
  <ul class="mobile-menu__socials list">
    <li class="mobile-menu__socials--item">
      <a class="mobile-menu__socials--link" href="">Instagram</a>
    </li>
    <li class="mobile-menu__socials--item">
      <a class="mobile-menu__socials--link" href="">Twitter</a>
    </li>
    <li class="mobile-menu__socials--item">
      <a class="mobile-menu__socials--link" href="">Facebook</a>
    </li>
    <li class="mobile-menu__socials--item">
      <a class="mobile-menu__socials--link" href="">LinkedIn</a>
    </li>
  </ul>
</div>
