<section class="engagement">
  <div class="engagement-container container">
    <h2 class="section-title">Our engagement</h2>
    <ul class="engagement-list list">
      <li class="engagement-item">
        <div class="engagement-description">
          <picture>
            <!-- <source
                      media="(min-width:1200px)"
                      srcset="
                        ./images/inflatable-boat.web  1x,
                        ./images/inflatable-boat.web 2x
                      "
                     type="image/webp" />
                    <source
                      media="(min-width:768px)"
                      srcset="./images/inflatable-boat.web , ./images/inflatable-boat.web  2x"
                      type="image/webp" />
                    <source
                      media="(max-width:767px)"
                      srcset="./images/inflatable-boat.web , ./images/inflatable-boat.web "
                      type="image/webp" /> -->
            <img
              class="engagement-img img"
              src="./images/inflatable-boat.webp"
              alt="Made in Europe"
              width="154"
              height="154"
              loading="lazy"
          /></picture>
          <div class="engagement-overlay">
            <p class="engagement-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptates dolore sit aliquid molestiae labore at minus sed, et
              quis commodi dolores praesentium sint vel quod voluptate
              asperiores, veniam quo iusto!
            </p>
          </div>
          <h2 class="engagement-subtitle">Made in Europe</h2>
        </div>
      </li>
      <li class="engagement-item">
        <div class="engagement-description">
          <picture>
            <!-- <source
                      media="(min-width:1200px)"
                      srcset="
                        ./images/inflatable-boat.web  1x,
                        ./images/inflatable-boat.web 2x
                      "
                     type="image/webp" />
                    <source
                      media="(min-width:768px)"
                      srcset="./images/inflatable-boat.web , ./images/inflatable-boat.web  2x"
                      type="image/webp" />
                    <source
                      media="(max-width:767px)"
                      srcset="./images/inflatable-boat.web , ./images/inflatable-boat.web "
                      type="image/webp" /> -->
            <img
              class="engagement-img img"
              src="./images/inflatable-boat.webp"
              alt="Made in Europe"
              width="154"
              height="154"
              loading="lazy"
          /></picture>
          <div class="engagement-overlay">
            <p class="engagement-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
              temporibus consequatur nobis reiciendis ex modi, ullam tempore
              aliquid illo, aspernatur vitae vero, ipsa sequi enim at magnam ad
              non similique?
            </p>
          </div>
          <h2 class="engagement-subtitle">Handmade</h2>
        </div>
      </li>
      <li class="engagement-item">
        <div class="engagement-description">
          <picture>
            <!-- <source
                      media="(min-width:1200px)"
                      srcset="
                        ./images/inflatable-boat.web  1x,
                        ./images/inflatable-boat.web 2x
                      "
                     type="image/webp" />
                    <source
                      media="(min-width:768px)"
                      srcset="./images/inflatable-boat.web , ./images/inflatable-boat.web  2x"
                      type="image/webp" />
                    <source
                      media="(max-width:767px)"
                      srcset="./images/inflatable-boat.web , ./images/inflatable-boat.web "
                      type="image/webp" /> -->
            <img
              class="engagement-img img"
              src="./images/inflatable-boat.webp"
              alt="Made in Europe"
              width="154"
              height="154"
              loading="lazy"
          /></picture>
          <div class="engagement-overlay">
            <p class="engagement-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
              aliquam, similique cupiditate perferendis nam earum dolor
              sapiente, perspiciatis eligendi id incidunt repudiandae ratione
              voluptates rem excepturi quod reprehenderit accusamus esse.
            </p>
          </div>
          <h2 class="engagement-subtitle">Flexible design solutions</h2>
        </div>
      </li>
    </ul>
  </div>
</section>
