<section class="our-products">
  <div class="our-products-contaner container">
    <h2 class="section-title visually-hidden">Our prodacts</h2>
    <!-- Carp Seria -->
 <article class="our-products-article">
      <h3 class="subtitle">boats Carp seria</h3>
      
        <img
          class="our-products__img"
          src="./images/our-products/our-products_1.jpg"
          alt="boat carp seria"
          width="150"
          loading="lazy"
        />
        <img
          class="our-products__img"
          src="./images/our-products/our-products_2.jpg"
          alt="boat carp seria"
          width="150"
          loading="lazy"
        />
        <img
          class="our-product__img"
          src="./images/our-products/seam.jpg"
          alt="seam"
          width="150"
          loading="lazy"
        />
        <img
          class="our-products__img"
          src="./images/our-products/accessoire_bottom_profil.jpg"
          alt="accessoire"
          width="150"
          loading="lazy"
        />
        <p class="our-product-text">
          Since 2017, our company has begun the production of inflatable boats
          using a new technology for the French company GOLD BAITS. Now we are
          pleased to offer these boats for the native Ukrainian market under the
          name CARP CERIES. The main difference between these boats and all the
          others presented on the Ukrainian market is the combined seam
          technology. (you can read more about the seams used for the
          manufacture of boats in the article ... .. link to the article about
          the seams ... The difference between this seam and other manufacturers
          is the presence of a soldered high-density tape. This is not just a
          strip of the material from which the boat is made, but a special strip
          for soldering, and is already closed on top with a strip of material.
          This not only ensured absolute tightness and strength of the
          connection, but also made it possible to use materials that are not
          available to other manufacturers. More elastic and durable, these
          materials are not only very hard to tear, they are even difficult to
          scratch. The boats of this series are made of Finnish fabric with a
          density of 1100 g/m2 (FISHER sub-series) or from German Valmex with a
          density of 1200 g/m2 (PRO sub-series). Also the lower part of the boat
          is protected by a 120mm PVC profile.
        </p>

        <table>
          <thead>
            <tr>
              <th></th>
              <th>GB210KU AD</th>
              <th>GB235KU AD</th>
              <th>GB249KU AD</th>
              <th>GB270KU AD</th>
              <th>GB300KU AD</th>
              <th>GB330KU AD</th>
              <th>GB360KU AD</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <img
                  class="img-our-product__img"
                  src="./images/our-products/210KU_AD_1.jpg"
                  alt="modal 210KU AD"
                  width="100"
                  loading="lazy"
                />
              </th>
              <th>
                <img
                  class="img-our-product__img"
                  src="./images/our-products/235KU_AD_1.jpg"
                  alt="modal 235KU AD"
                  width="100"
                  loading="lazy"
                />
              </th>
              <th>
                <img
                  class="img-our-product__img"
                  src="./images/our-products/GB249MU.jpg"
                  alt="modal 249KU AD"
                  width="100"
                  loading="lazy"
                />
              </th>
              <th>
                <img
                  class="img-our-product__img"
                  src="./images/our-products/270KU_AD_1.jpg"
                  alt="modal 270KU AD"
                  width="110"
                  loading="lazy"
                />
              </th>
              <th>
                <img
                  class="img-our-products__img"
                  src="./images/our-products/300KU_AD_1.jpg"
                  alt="modal 300KU AD"
                  width="110"
                  loading="lazy"
                />
              </th>
              <th>
                <img
                  class="img-our-products__img"
                  src="./images/our-products/330KU_PFA_1.jpg"
                  alt="modal 330KU_PFA "
                  width="120"
                  loading="lazy"
                />
              </th>

              <th>
                <img
                  class="img-our-products__img"
                  src="./images/our-products/360KU_PFA_1.jpg"
                  alt="modal 360KU_PFA "
                  width="120"
                  loading="lazy"
                />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dimensions, cm</td>
              <td>210 x 145</td>
              <td>235 x 145</td>
              <td>249 x 145</td>
              <td>270 x 170</td>
              <td>300 x 170</td>
              <td>330 x 170</td>
              <td>360 x 170</td>
            </tr>
            <tr>
              <td>Balloon diameter, cm</td>
              <td>38</td>
              <td>38</td>
              <td>38</td>
              <td>43</td>
              <td>43</td>
              <td>43</td>
              <td>43</td>
            </tr>
            <tr>
              <td>Cocpit, cm</td>
              <td>140 x 72</td>
              <td>163 x 72</td>
              <td>178 x 72</td>
              <td>195 x 83</td>
              <td>225 x 83</td>
              <td>255 x 83</td>
              <td>285 x 83</td>
            </tr>
            <tr>
              <td>capacity, kg</td>
              <td>200</td>
              <td>210</td>
              <td>220</td>
              <td>320</td>
              <td>400</td>
              <td>450</td>
              <td>580</td>
            </tr>
            <tr>
              <td>motor power, hp</td>
              <td>2,5</td>
              <td>2,5</td>
              <td>3,6</td>
              <td>7</td>
              <td>9,8</td>
              <td>12</td>
              <td>15</td>
            </tr>
          </tbody>
        </table>
        <h3>Boat equipment</h3>
        <ul>
          <li>
            <img
              class="img-our-product__img"
              src="./images/our-products/210KU_AD_1.jpg
          "
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <img
              class="img-our-products__img"
              src="./images/our-products/210KU_AD_2.jpg"
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <img
              class="img-our-products__img"
              src="./images/our-products/210KU_AD_3.jpg"
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <h4>Inflateble floor</h4>
          </li>
          <li>
            <img
              class="img-our-products__img"
              src="./images/our-products/360KU_PFA_1.jpg"
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <img
              class="img-our-products__img"
              src="./images/our-products/360KU_PFA_2.jpg"
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <img
              class="img-our-products__img"
              src="./images/our-products/360KU_PFA_3.jpg"
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <h4>Floor from plywood boards connected with aluminum profiles</h4>
          </li>
          <li>
            <img
              class="img-our-products__img"
              src="./images/our-products/270KU_ALF_1.jpg"
              alt="modal 210KU AD"
              width="100"
              loading="lazy"
            />
            <img
              class="img-our-products__img"
              src="./images/our-products/270KU_ALF_2.jpg"
              alt="modal 270KU_ALF"
              width="100"
              loading="lazy"
            />
            <img
              class="img-our-products__img"
              src="./images/our-products/270KU_ALF_3.jpg"
              alt="modal 270KU_ALF"
              width="100"
              loading="lazy"
            />
            <h4>
              Floor made of aluminum panels connected by aluminum profiles
            </h4>
          </li>
          <!-- <li>
        <img
          class="img-our-products__img"
          src="./images/our-products/210KU_AD_1.jpg"
          alt="modal 210KU AD"
          width="100"
          loading="lazy"
        />
        <img
          class="img-our-products__img"
          src="./images/our-products/210KU_AD_2.jpg"
          alt="modal 210KU AD"
          width="100"
          loading="lazy"
        />
        <img
          class="img-our-products__img"
          src="./images/our-products/210KU_AD_3.jpg"
          alt="modal 210KU AD"
          width="100"
          loading="lazy"
        />
        <h4>Mat made of plywood slats (without keel)</h4>
      </li> -->
        </ul>
      </article>

      <!-- OMega Seria -->
      <article class="our-products-article"></article>
      <h3 class="subtitle">boats ΩMega seria</h3>

      <img
        class="our-products__img"
        src="./images/our-products/our-products_os_1.jpg"
        alt="boat omega seria"
        width="150"
        loading="lazy"
      />
      <img
        class="our-products__img"
        src="./images/our-products/our-products_os_10.jpg"
        alt="boat omega seria"
        width="150"
        loading="lazy"
      />
      <img
        class="our-products__img"
        src="./images/our-products/our-products_os_8.jpg"
        alt="boat omega seria"
        width="150"
        loading="lazy"
      />
      <img
        class="our-products__img"
        src="./images/our-products/our-products_os_2.jpg"
        alt="boat omega seria"
        width="150"
        loading="lazy"
      />
      <p class="our-product-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dolorem numquam maiores consequatur deserunt ab sed quaerat ratione, qui
        adipisci vitae est autem expedita dolorum aspernatur. Soluta nulla quis
        doloribus dolor accusantium dolorem atque voluptatum, ratione
        necessitatibus facere reprehenderit, libero nobis at, debitis molestias
        magnam aut inventore sapiente quidem cum. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Dolore quod distinctio quisquam minus
        impedit quae itaque omnis suscipit. Facilis possimus recusandae incidunt
        quasi nostrum, aliquam provident asperiores soluta assumenda
        perspiciatis consequuntur in. Dolore similique eum ipsa et, provident
        optio? Et, aspernatur possimus. Sequi error, maiores cum totam eum in
        porro iure aliquid, aperiam recusandae quia expedita officia quibusdam
        itaque quae. Mollitia, soluta excepturi. Laborum, in? Architecto debitis
        nisi deleniti tempora.
      </p>
   
    <table>
      <thead>
        <tr>
          <th></th>
          <th>TP220LS(PS)</th>
          <th>TP250LS(PS)</th>
          <th>TP260LS(PS)</th>
          <th>TP280LS(PS)</th>
        </tr>
        <tr>
          <th>Roving boats</th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/220LS(PS)GK.jpg"
              alt="modal TP220LS(PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/250LS(PS)GK.jpg"
              alt="modal TP250LS(PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/260LS(PS)GK.jpg"
              alt="modal TP260LS(PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/280LS(PS)GK.jpg"
              alt="modal TP280LS(PS)"
              width="110"
              loading="lazy"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dimensions, cm</td>
          <td>220 x 125</td>
          <td>250 x 125</td>
          <td>260 x 135</td>
          <td>280 x 135</td>
        </tr>
        <tr>
          <td>Balloon diameter, cm</td>
          <td>34</td>
          <td>34</td>
          <td>38</td>
          <td>38</td>
        </tr>
        <tr>
          <td>Cocpit, cm</td>
          <td>155 x 58</td>
          <td>185 x 58</td>
          <td>190 x 58</td>
          <td>210 x 58</td>
        </tr>
        <tr>
          <td>capacity, kg</td>
          <td>200</td>
          <td>220</td>
          <td>250</td>
          <td>300</td>
        </tr>
        <tr>
          <td>motor power, hp</td>
          <td>2,5*</td>
          <td>2,5*</td>
          <td>3,6*</td>
          <td>3,6*</td>
        </tr>
      </tbody>
    </table>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique eos
      nobis fuga consequuntur quas maiores neque debitis nam itaque
      necessitatibus tempore, ipsa omnis vitae facilis atque iste veniam minima
      soluta excepturi vel est nulla eius cumque. Consectetur velit facere eaque
      sed, culpa corrupti assumenda fuga rem tempora. Quaerat, enim optio.
    </p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>TP210М</th>
          <th>TP270M</th>
          <th>TP300M</th>
          <!-- <th>TP280LS(PS)</th> -->
        </tr>
        <tr>
          <th>Motor boats</th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/210М_S_GS.jpg"
              alt="modal TP210М S GS"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/270M_S_GS1.jpg"
              alt="modal TP270M S GS"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/300M_S_GS1.jpg"
              alt="modal TP300M S GS"
              width="110"
              loading="lazy"
            />
          </th>
          <!-- <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/280LS(PS)GK.jpg"
              alt="modal TP280LS(PS)"
              width="110"
              loading="lazy"
            />
          </th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dimensions, cm</td>
          <td>210 x 130</td>
          <td>270 x 135</td>
          <td>300 x 155</td>
          <!-- <td>280 x 135</td> -->
        </tr>
        <tr>
          <td>Balloon diameter, cm</td>
          <td>34</td>
          <td>38</td>
          <td>40</td>
          <!-- <td>38</td> -->
        </tr>
        <tr>
          <td>Cocpit, cm</td>
          <td>120 x 62</td>
          <td>173 x 62</td>
          <td>205 x 70</td>
          <!-- <td>210 x 58</td> -->
        </tr>
        <tr>
          <td>capacity, kg</td>
          <td>210</td>
          <td>270</td>
          <td>300</td>
          <!-- <td>300</td> -->
        </tr>
        <tr>
          <td>motor power, hp</td>
          <td>2,5</td>
          <td>5</td>
          <td>9.8</td>
          <!-- <td>3,6*</td> -->
        </tr>
      </tbody>
    </table>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique eos
      nobis fuga consequuntur quas maiores neque debitis nam itaque
      necessitatibus tempore, ipsa omnis vitae facilis atque iste veniam minima
      soluta excepturi vel est nulla eius cumque. Consectetur velit facere eaque
      sed, culpa corrupti assumenda fuga rem tempora. Quaerat, enim optio.
    </p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>TP300K</th>
          <th>TP330KU</th>
          <th>TP360KU</th>
          <th>TP385K</th>
          <th>TP400KU</th>
        </tr>
        <tr>
          <th>Motor boats with keel</th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/300K_PFA_LS.jpg"
              alt="modal TP300K PFA LS"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/330KU_PFA_LS.jpg"
              alt="modal TP330KU PFA LS"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/360KU_ALF_LS.jpg"
              alt="modal TP360KU ALF LS"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/385K_PFA_OT.jpg"
              alt="modal TP385K PFA OT"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/400KU_PFA_LS.jpg"
              alt="modal TP400KU PFA LS"
              width="110"
              loading="lazy"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dimensions, cm</td>
          <td>300 x 155</td>
          <td>330 x 160</td>
          <td>360 x 170</td>
          <td>385 x 181</td>
          <td>400 x 190</td>
        </tr>
        <tr>
          <td>Balloon diameter, cm</td>
          <td>40</td>
          <td>42</td>
          <td>42</td>
          <td>45</td>
          <td>49</td>
        </tr>
        <tr>
          <td>Cocpit, cm</td>
          <td>205 x 70</td>
          <td>228 x 76</td>
          <td>258 x 81</td>
          <td>274 x 91</td>
          <td>279 x 91</td>
        </tr>
        <tr>
          <td>capacity, kg</td>
          <td>400</td>
          <td>500</td>
          <td>600</td>
          <td>700</td>
          <td>700</td>
        </tr>
        <tr>
          <td>motor power, hp</td>
          <td>9,8</td>
          <td>12</td>
          <td>15</td>
          <td>25</td>
          <td>25</td>
        </tr>
      </tbody>
    </table>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique eos
      nobis fuga consequuntur quas maiores neque debitis nam itaque
      necessitatibus tempore, ipsa omnis vitae facilis atque iste veniam minima
      soluta excepturi vel est nulla eius cumque. Consectetur velit facere eaque
      sed, culpa corrupti assumenda fuga rem tempora. Quaerat, enim optio.
    </p>
     </article>
    <!-- Delta Seria -->
    <article class="our-products-article">
    <h3 class="subtitle">boats Delta seria</h3>
    
      <img
        class="our-products__img"
        src="./images/our-products/our-products_ds_11.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy"
      />
      <img
        class="our-products__img"
        src="./images/our-products/our-products_ds_12.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy"
      />
      <img
        class="our-products__img"
        src="./images/our-products/our-products_ds_14.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy"
      />
      <img
        class="our-products__img"
        src="./images/our-products/our-products_ds_15.jpg"
        alt="boat delta seria"
        width="150"
        loading="lazy"
      />
      <p class="our-product-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dolorem numquam maiores consequatur deserunt ab sed quaerat ratione, qui
        adipisci vitae est autem expedita dolorum aspernatur. Soluta nulla quis
        doloribus dolor accusantium dolorem atque voluptatum, ratione
        necessitatibus facere reprehenderit, libero nobis at, debitis molestias
        magnam aut inventore sapiente quidem cum. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Dolore quod distinctio quisquam minus
        impedit quae itaque omnis suscipit. Facilis possimus recusandae incidunt
        quasi nostrum, aliquam provident asperiores soluta assumenda
        perspiciatis consequuntur in. Dolore similique eum ipsa et, provident
        optio? Et, aspernatur possimus. Sequi error, maiores cum totam eum in
        porro iure aliquid, aperiam recusandae quia expedita officia quibusdam
        itaque quae. Mollitia, soluta excepturi. Laborum, in? Architecto debitis
        nisi deleniti tempora.
      </p>
    
    <table>
      <thead>
        <tr>
          <th></th>
          <th>D170LS(PS)</th>
          <th>D190LS(PS)</th>
          <th>D210LS(PS)</th>
          <th>D240LS(PS)</th>
          <th>D260LS(PS)</th>
          <th>D280LS(PS)</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/D170LS_(PS)1.jpg"
              alt="modal D170LS (PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/D190LS_(PS)1.jpg"
              alt="modal D190LS (PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/D210LS_(PS)1.jpg"
              alt="modal D210LS (PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/D240LS_(PS)1.jpg"
              alt="modal D240LS (PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/D260LS_(PS)1.jpg"
              alt="modal D260LS (PS)"
              width="110"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-products__img"
              src="./images/our-products/D280LS_(PS)1.jpg"
              alt="modal D280LS (PS))"
              width="110"
              loading="lazy"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dimensions, cm</td>
          <td>220 x 125</td>
          <td>250 x 125</td>
          <td>260 x 135</td>
          <td>280 x 135</td>
        </tr>
        <tr>
          <td>Balloon diameter, cm</td>
          <td>34</td>
          <td>34</td>
          <td>38</td>
          <td>38</td>
        </tr>
        <tr>
          <td>Cocpit, cm</td>
          <td>155 x 58</td>
          <td>185 x 58</td>
          <td>190 x 58</td>
          <td>210 x 58</td>
        </tr>
        <tr>
          <td>capacity, kg</td>
          <td>200</td>
          <td>220</td>
          <td>250</td>
          <td>300</td>
        </tr>
        <tr>
          <td>motor power, hp</td>
          <td>2,5*</td>
          <td>2,5*</td>
          <td>3,6*</td>
          <td>3,6*</td>
        </tr>
      </tbody>
    </table>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique eos
      nobis fuga consequuntur quas maiores neque debitis nam itaque
      necessitatibus tempore, ipsa omnis vitae facilis atque iste veniam minima
      soluta excepturi vel est nulla eius cumque. Consectetur velit facere eaque
      sed, culpa corrupti assumenda fuga rem tempora. Quaerat, enim optio.
    </p>
    </article>
  </div>
</section>
