<section class="our-products">
  <div class="our-products-contaner container">
    <h2 class="section-title visually-hidden">Our prodacts</h2>
    <ul class="our-prodacts-list list">
      <li class="our-products-item">
        <h3 class="subtitle">boats Carp seria</h3>
        <!-- <img
          class="img-logo img"
          src="./images/logo-omega1.png"
          alt="logo"
          width="100"
          heigth="80"
          loading="lazy"
        /> -->
        <img
          class="our-products img"
          src="./images/our-prodacts_1.jpg"
          alt="boat carp seria"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <img
          class="our-products img"
          src="./images/our-prodacts/our-prodacts_2.jpg"
          alt="boat carp seria"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <img
          class="our-products img"
          src="./images/our-prodacts/seam.jpg"
          alt="seam"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <img
          class="our-products img"
          src="./images/our-prodacts/accessoire_bottom_profil.jpg"
          alt="accessoire"
          width="150"
          heigth="120"
          loading="lazy"
        />
        <p class="our-prodact-text">
          Since 2017, our company has begun the production of inflatable boats
          using a new technology for the French company GOLD BAITS. Now we are
          pleased to offer these boats for the native Ukrainian market under the
          name CARP CERIES. The main difference between these boats and all the
          others presented on the Ukrainian market is the combined seam
          technology. (you can read more about the seams used for the
          manufacture of boats in the article ... .. link to the article about
          the seams ...
        </p>

        <article class="our-prodacts-article">
          The difference between this seam and other manufacturers is the
          presence of a soldered high-density tape. This is not just a strip of
          the material from which the boat is made, but a special strip for
          soldering, and is already closed on top with a strip of material. This
          not only ensured absolute tightness and strength of the connection,
          but also made it possible to use materials that are not available to
          other manufacturers. More elastic and durable, these materials are not
          only very hard to tear, they are even difficult to scratch. The boats
          of this series are made of Finnish fabric with a density of 1100 g/m2
          (FISHER sub-series) or from German Valmex with a density of 1200 g/m2
          (PRO sub-series). Also the lower part of the boat is protected by a
          120mm PVC profile.
        </article>
      </li>
    </ul>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>GB210KU AD</th>
          <th>GB235KU AD</th>
          <th>GB249KU AD</th>
          <th>GB270KU AD</th>
          <th>GB300KU AD</th>
          <th>GB330KU AD</th>
          <th>GB360KU AD</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/210KU_AD_1.jpg"
              alt="modal 210KU AD"
              width="100"
              heigth="67"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/235KU_AD_1.jpg"
              alt="modal 235KU AD"
              width="100"
              heigth="67"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/249KU_AD_1.jpg"
              alt="modal 249KU AD"
              width="100"
              heigth="67"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/270KU_AD_1.jpg"
              alt="modal 270KU AD"
              width="110"
              heigth="77"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/300KU_AD_1.jpg"
              alt="logo"
              width="110"
              heigth="77"
              loading="lazy"
            />
          </th>
          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/330KU_PFA_1.jpg"
              alt="logo"
              width="120"
              heigth="80"
              loading="lazy"
            />
          </th>

          <th>
            <img
              class="img-our-prodacts img"
              src="./images/our-prodacts/360KU_PFA_1.jpg"
              alt="logo"
              width="120"
              heigth="80"
              loading="lazy"
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dimensions, cm</td>
          <td>210 x 145</td>
          <td>235 x 145</td>
          <td>249 x 145</td>
          <td>270 x 170</td>
          <td>300 x 170</td>
          <td>330 x 170</td>
          <td>360 x 170</td>
        </tr>
        <tr>
          <td>Balloon diameter, cm</td>
          <td>38</td>
          <td>38</td>
          <td>38</td>
          <td>43</td>
          <td>43</td>
          <td>43</td>
          <td>43</td>
        </tr>
        <tr>
          <td>Cocpit, cm</td>
          <td>140 x 72</td>
          <td>163 x 72</td>
          <td>178 x 72</td>
          <td>195 x 83</td>
          <td>225 x 83</td>
          <td>255 x 83</td>
          <td>285 x 83</td>
        </tr>
        <tr>
          <td>capacity, kg</td>
          <td>200</td>
          <td>210</td>
          <td>220</td>
          <td>320</td>
          <td>400</td>
          <td>450</td>
          <td>580</td>
        </tr>
        <tr>
          <td>motor power, hp</td>
          <td>2,5</td>
          <td>2,5</td>
          <td>3,6</td>
          <td>7</td>
          <td>9,8</td>
          <td>12</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
    <h3>Boat equipment</h3>
    <ul>
      <li>
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/210KU_AD_1.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/210KU_AD_2.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/210KU_AD_3.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <h4>Inflateble floor</h4>
      </li>
      <li>
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/360KU_PFA_1.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/360KU_PFA_2.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/360KU_PFA_3.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <h4>Floor from plywood boards connected with aluminum profiles</h4>
      </li>
      <li>
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/270KU_ALF_1.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/270KU_ALF_2.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/270KU_ALF_3.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <h4>Floor made of aluminum panels connected by aluminum profiles</h4>
        <li>
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/210KU_AD_1.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/210KU_AD_2.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <img
          class="img-our-prodacts img"
          src="./images/our-prodacts/210KU_AD_3.jpg"
          alt="modal 210KU AD"
          width="100"
          heigth="67"
          loading="lazy"
        />
        <h4>Mat made of plywood slats (without keel)</h4>
      </li>
      </li>
    </ul>
  </div>
</section>
