<section class="engagement">
  <div class="container">
    <h2 class="section-title">Our engagement</h2>
    <ul class="engagement-list list">
      <li class="engagement-item">
        <picture>
          <!-- <source media="(min-width:1200px)" srcset="" type="image/webp" />
          <source media="(min-width:768px)" srcset="" type="image/webp" />
          <source media="(max-width:767px)" srcset="" type="image/webp" /> -->
          <img
            class="engagement-item img"
            src="./images/inflatable-boat.webp"
            alt="Made in Europe"
            width="154"
            height="154"
            loading="lazy"
        /></picture>
      </li>
      <li class="engagement-item">
        <picture>
          <!-- <source media="(min-width:1200px)" srcset="" type="image/webp" />
          <source media="(min-width:768px)" srcset="" type="image/webp" />
          <source media="(max-width:767px)" srcset="" type="image/webp" /> -->
          <img
            class="engagement-item img"
            src="./images/inflatable-boat.webp"
            alt="Made in Europe"
            width="154"
            height="154"
            loading="lazy"
        /></picture>
      </li>
      <li class="engagement-item">
        <picture>
          <!-- <source media="(min-width:1200px)" srcset="" type="image/webp" />
          <source media="(min-width:768px)" srcset="" type="image/webp" />
          <source media="(max-width:767px)" srcset="" type="image/webp" /> -->
          <img
            class="engagement-item img"
            src="./images/inflatable-boat.webp"
            alt="Made in Europe"
            width="154"
            height="154"
            loading="lazy"
        /></picture>
      </li>
    </ul>
  </div>
</section>
