.footer {
   
    background-color: var(--footer-backgound-color);
}

.footer-container{
    display: flex;
        // flex-direction: column;
        align-items: center;
    margin-top: 60px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        }
   
}
.footer-logo {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        margin: 0;
    }
}
.footer-adress{
    display: flex;
        flex-direction: column;
        align-items: center;
        
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 15px;
    
        @include fonts(null, 14px, 1.71, 0.03em);
        font-style: normal;
        color: var(--accent-test-color);
       
}

// .footer-adress__text{
//     display: flex;
    
//         flex-direction: column;
//         align-items: center;
    
// }

.footer-adress__link{
    
    color: var(--accent-test-color);
      
}
.footer-blog{
    display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--accent-test-color);
        
        margin-left: auto;
            margin-right: auto;
            @media screen and (max-width: 768px) {
                    margin-bottom: 30px;
                }

}

.footer-button{
    padding: 10px 29px;
    @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }
}       