// .our-products-contaner {
//     text-align: center;
    
// }
.our-products-article{
    display: flex;
    flex-wrap: wrap;
    // text-align: justify;

}

.our-product-text{
    text-align: justify;
}

.our-products-table{
    @media screen and (max-width: 767px) {
        display: none;
       
    }
}
.our-products__img{
    float: right;
    margin: 10px;
    margin-right: 0;
}
.our-products__imgl{
    float: left;
    margin: 10px;
    margin-left: 0;
}
// .our-product-list{
//     display: flex;
// }
// .our-product-list{
//     margin-top: 15px;
// }
.our-product-item{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;

}
.subtitle {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;

}